<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBIpShBI1tXHXtl9YlzhvCWOY1qBef4OJk</string>
	<key>GCM_SENDER_ID</key>
	<string>253492640998</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.treyeckenrod.SmartSportMonitor</string>
	<key>PROJECT_ID</key>
	<string>ssm-csu</string>
	<key>STORAGE_BUCKET</key>
	<string>ssm-csu.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:253492640998:ios:faa0a582bdfdcd00ab4f27</string>
	<key>DATABASE_URL</key>
	<string>https://ssm-csu-default-rtdb.firebaseio.com</string>
</dict>
</plist>